<%- include('../partials/header'); %>
<div class="container mt-5">
  <h1>Sign up</h1>
  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /signup route -->
          <form action="/signup" method="POST">
            <div style="display: flex;">
              <div class="form-group" style="width: 47.5%; ">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" name="firstName">
              </div>
              <div class="form-group" style="width: 47.5%; margin-left: 5%;">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" name="lastName">
              </div>
            </div>
            <div style="display: flex;">
              <div class="form-group" style="width: 45%; ">
                <label for="age">Age</label>
                <input type="number" class="form-control" name="age">
              </div>
              <div class="form-group" style="width: 45%; margin-left: 5%;">
                <label for="sex">Sex</label>
                <select name ="sex" class="form-select form-control" aria-label="Default select example">
                  <option selected>Click to Open</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                </select>
              </div>
              <div class="form-group" style="width: 45%; margin-left: 5%;">
                <label for="classYear">Class Year</label>
                <select name ="classYear" class="form-select form-control" aria-label="Default select example" style="font-size: 15px;">
                  <option selected >Choose Your Class Year</option>
                  <option value=2024>2024</option>
                  <option value=2025>2025</option>
                  <option value=2026>2026</option>
                  <option value=2027>2027</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="bio">Bio</label>
              <textarea class="form-control" name="bio" rows="3"></textarea>
            </div>
            <div style="display: flex;">
            <div class="form-group" style="width: 47.5%;">
              <label for="instagram">Instagram</label>
              <input type="text" class="form-control" name="instagram">
            </div>
            <div class="form-group" style="width: 47.5%; margin-left: 5%; ">
              <label for="snapchat">Snapchat</label>
              <input type="text" class="form-control" name="snapchat">
            </div>
          </div>
            <br>
            <button type="submit" class="btn btn-dark">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

