<%- include('../partials/header'); %>
    <h1>Report A Problem</h1>
    <form>
    <fieldset>
        <label for="bio">Having a problem?
          <textarea id="bio" name="bio" rows="12" cols="30" placeholder="Tell us what's wrong..."></textarea>
        </label>
      </fieldset>
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>