<%- include('../partials/header'); %>
<form action="/login" method="POST">
<body>
        <div style="display: grid;">
            <div class="form-group" style="display: inline-table;">
                <h4>How often do you expect to drink?</h1>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Options</option>
                    <option value="1">5 times a week</option>
                    <option value="3">3 times a week</option>
                    <option value="6">1 time a week</option>
                    <option value="9">once a month</option>
                    <option value="11">never</option>
                </select>
            </div>
            <br>
            <div class="form-group" style="display: inline-table;">
                <h4>How much do you care that your roommate answers this question the same?</h1>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Options</option>
                    <option value="1">Not Important At All</option>
                    <option value="2">Mildly Important</option>
                    <option value="4">Very Important</option>
                    <option value="5">Of Upmost Importance</option>
                </select>
            </div>
        </div>

</body>
<br><br>
<body>
        <div style="display: grid;">
            <div class="form-group" style="display: inline-table;">
                <h4>When do you go to sleep?</h1>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Options</option>
                    <option value="1">After 3 am</option>
                    <option value="3">1:30 am</option>
                    <option value="6">12:00 am</option>
                    <option value="9">10:30 pm</option>
                    <option value="11">Before 9 pm</option>
                </select>
            </div>
            <br>
            <div class="form-group" style="display: inline-table;">
                <h4>How much do you care that your roommate answers this question the same?</h1>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Options</option>
                    <option value="1">Not Important At All</option>
                    <option value="2">Mildly Important</option>
                    <option value="4">Very Important</option>
                    <option value="5">Of Upmost Importance</option>
                </select>
            </div>
        </div>
</body>
<br><br>
<body>
        <div style="display: grid;">
            <div class="form-group" style="display: inline-table;">
                <h4>When do you wake up?</h1>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Options</option>
                    <option value="1">After 12 pm</option>
                    <option value="3">10:30 am</option>
                    <option value="6">9:00 am</option>
                    <option value="9">7:30 am</option>
                    <option value="11">Before 6 am</option>
                </select>
            </div>
            <br>
            <div class="form-group" style="display: inline-table;">
                <h4>How much do you care that your roommate answers this question the same?</h1>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Options</option>
                    <option value="1">Not Important At All</option>
                    <option value="2">Mildly Important</option>
                    <option value="4">Very Important</option>
                    <option value="5">Of Upmost Importance</option>
                </select>
            </div>
        </div>
</body>
<br><br>
<body>
        <div style="display: grid;">
            <div class="form-group" style="display: inline-table;">
                <h4>Do you mind other people in your room?</h1>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Options</option>
                    <option value="1">I want people in my room all day every day</option>
                    <option value="3">I want people in my room frequently</option>
                    <option value="6">I dont care if people are in my room</option>
                    <option value="9">I only want people in my room rarely or with approval</option>
                    <option value="11">I never want other people in my room</option>
                </select>
            </div>
            <br>
            <div class="form-group" style="display: inline-table;">
                <h4>How much do you care that your roommate answers this question the same?</h1>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Options</option>
                    <option value="1">Not Important At All</option>
                    <option value="2">Mildly Important</option>
                    <option value="4">Very Important</option>
                    <option value="5">Of Upmost Importance</option>
                </select>
            </div>
        </div>
</body>
<br><br>
<body>
        <div style="display: grid;">
            <div class="form-group" style="display: inline-table;">
                <h4>Do you mind people spending the night in your dorm</h1>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Options</option>
                    <option value="1">People can spend every night in my room without notice</option>
                    <option value="3">People can spend the night every now and then without notice</option>
                    <option value="6">People can spend the night but need notice</option>
                    <option value="9">I dont want people spending the night but they can with notice</option>
                    <option value="11">Other people cannot spend the night</option>
                </select>
            </div>
            <br>
            <div class="form-group" style="display: inline-table;">
                <h4>How much do you care that your roommate answers this question the same?</h1>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Options</option>
                    <option value="1">Not Important At All</option>
                    <option value="2">Mildly Important</option>
                    <option value="4">Very Important</option>
                    <option value="5">Of Upmost Importance</option>
                </select>
            </div>
        </div>
</body>
<br><br>

<body>
        <div style="display: grid;">
            <div class="form-group" style="display: inline-table;">
                <h4>How often do you smoke</h1>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Options</option>
                    <option value="1">Multiple times each day</option>
                    <option value="3">5-7 days a week</option>
                    <option value="6">Once or twice a week</option>
                    <option value="9">Once or twice a month</option>
                    <option value="11">Never</option>
                </select>
            </div>
            <br>
            <div class="form-group" style="display: inline-table;">
                <h4>How much do you care that your roommate answers this question the same?</h1>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Options</option>
                    <option value="1">Not Important At All</option>
                    <option value="2">Mildly Important</option>
                    <option value="4">Very Important</option>
                    <option value="5">Of Upmost Importance</option>
                </select>
            </div>
        </div>
</body>  
<br><br>

<body>
        <div style="display: grid;">
            <div class="form-group" style="display: inline-table;">
                <h4>Will you smoke in the room</h1>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Options</option>
                    <option value="1">Yes</option>
                    <option value="11">No</option>
                </select>
            </div>
            <br>
            <div class="form-group" style="display: inline-table;">
                <h4>How much do you care that your roommate answers this question the same?</h1>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Options</option>
                    <option value="1">Not Important At All</option>
                    <option value="2">Mildly Important</option>
                    <option value="4">Very Important</option>
                    <option value="5">Of Upmost Importance</option>
                </select>
            </div>
        </div>
</body>  
<br><br>

<body>
        <div style="display: grid;">
            <div class="form-group" style="display: inline-table;">
                <h4>How often do you plan to be in the room</h1>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Options</option>
                    <option value="1">I only will be in the room to sleep</option>
                    <option value="3">I will only be in the room occasionally</option>
                    <option value="6">I will often be in the room during my free time</option>
                    <option value="9">I prefere to spend most of my time in my room</option>
                    <option value="11">I will only leave the room for class</option>
                </select>
            </div>
            <br>
            <div class="form-group" style="display: inline-table;">
                <h4>How much do you care that your roommate answers this question the same?</h1>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Options</option>
                    <option value="1">Not Important At All</option>
                    <option value="2">Mildly Important</option>
                    <option value="4">Very Important</option>
                    <option value="5">Of Upmost Importance</option>
                </select>
            </div>
        </div>
</body>
<br><br>

<body>
        <div style="display: grid;">
            <div class="form-group" style="display: inline-table;">
                <h4>how often will you study in the room</h1>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Options</option>
                    <option value="1">I will never study in the room</option>
                    <option value="3">I will rarely study in the room</option>
                    <option value="6">I will split my studying equally between the room and outside the room</option>
                    <option value="9">I will spend most of my time studying in the room</option>
                    <option value="11">I will only study in the room</option>
                </select>
            </div>
            <br>
            <div class="form-group" style="display: inline-table;">
                <h4>How much do you care that your roommate answers this question the same?</h1>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Options</option>
                    <option value="1">Not Important At All</option>
                    <option value="2">Mildly Important</option>
                    <option value="4">Very Important</option>
                    <option value="5">Of Upmost Importance</option>
                </select>
            </div>
        </div>
</body>
<br><br>

<body>
        <div style="display: grid;">
            <div class="form-group" style="display: inline-table;">
                <h4>Do you mind sharing condiments/paper products/cleaning materials</h1>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Options</option>
                    <option value="1">Yes, I do mind</option>
                    <option value="11">No, I don't mind</option>
                </select>
            </div>
            <br>
            <div class="form-group" style="display: inline-table;">
                <h4>How much do you care that your roommate answers this question the same?</h1>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Options</option>
                    <option value="1">Not Important At All</option>
                    <option value="2">Mildly Important</option>
                    <option value="4">Very Important</option>
                    <option value="5">Of Upmost Importance</option>
                </select>
            </div>
        </div>
</body>
<br><br>

<body>
        <div style="display: grid;">
            <div class="form-group" style="display: inline-table;">
                <h4>Do you plan to be around on the weekends</h1>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Options</option>
                    <option value="1">Will never be around on weekends</option>
                    <option value="3">Will leave every other weekend or so</option>
                    <option value="6">Will leave during the weekend once a month</option>
                    <option value="9">Will leave for the weekend once or twice a semester</option>
                    <option value="11">Will never leave during the weekend</option>
                </select>
            </div>
            <br>
            <div class="form-group" style="display: inline-table;">
                <h4>How much do you care that your roommate answers this question the same?</h1>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Options</option>
                    <option value="1">Not Important At All</option>
                    <option value="2">Mildly Important</option>
                    <option value="4">Very Important</option>
                    <option value="5">Of Upmost Importance</option>
                </select>
            </div>
        </div>
</body>
<br><br>

<body>
        <div style="display: grid;">
            <div class="form-group" style="display: inline-table;">
                <h4>how often will you do household chores (cleaning, buying mutually used items)</h1>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Options</option>
                    <option value="1">Every day</option>
                    <option value="3">More than once a week</option>
                    <option value="6">Once a week</option>
                    <option value="9">Once a month</option>
                    <option value="11">Never</option>
                </select>
            </div>
            <br>
            <div class="form-group" style="display: inline-table;">
                <h4>How much do you care that your roommate answers this question the same?</h1>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Options</option>
                    <option value="1">Not Important At All</option>
                    <option value="2">Mildly Important</option>
                    <option value="4">Very Important</option>
                    <option value="5">Of Upmost Importance</option>
                </select>
            </div>
        </div>
</body>
<br><br>

<body>
        <div style="display: grid;">
            <div class="form-group" style="display: inline-table;">
                <h4>How many people are allowed to be in the room at once</h1>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Options</option>
                    <option value="1">As many as possible all the time</option>
                    <option value="3">I do not care how many but would prefere if it was not every day</option>
                    <option value="6">A few people whenever</option>
                    <option value="9">A few people every now and then</option>
                    <option value="11">Would rather no other people be inside the room</option>
                </select>
            </div>
            <br>
            <div class="form-group" style="display: inline-table;">
                <h4>How much do you care that your roommate answers this question the same?</h1>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Options</option>
                    <option value="1">Not Important At All</option>
                    <option value="2">Mildly Important</option>
                    <option value="4">Very Important</option>
                    <option value="5">Of Upmost Importance</option>
                </select>
            </div>
        </div>
</body>
<br><br>

<body>
        <div style="display: grid;">
            <div class="form-group" style="display: inline-table;">
                <h4>Do you listen to music out loud in the room</h1>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Options</option>
                    <option value="1">Yes</option>
                    <option value="11">No</option>
                </select>
            </div>
            <br>
            <div class="form-group" style="display: inline-table;">
                <h4>How much do you care that your roommate answers this question the same?</h1>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Options</option>
                    <option value="1">Not Important At All</option>
                    <option value="2">Mildly Important</option>
                    <option value="4">Very Important</option>
                    <option value="5">Of Upmost Importance</option>
                </select>
            </div>
        </div>
</body>
<br><br>

<body>
        <div style="display: grid;">
            <div class="form-group" style="display: inline-table;">
                <h4>Do you snore</h1>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Options</option>
                    <option value="1">Yes</option>
                    <option value="11">No</option>
                </select>
            </div>
            <br>
            <div class="form-group" style="display: inline-table;">
                <h4>How much do you care that your roommate answers this question the same?</h1>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Options</option>
                    <option value="1">Not Important At All</option>
                    <option value="2">Mildly Important</option>
                    <option value="4">Very Important</option>
                    <option value="5">Of Upmost Importance</option>
                </select>
            </div>
        </div>
</body>
<br><br>

<body>
        <div style="display: grid;">
            <div class="form-group" style="display: inline-table;">
                <h4>Do you mind sharing possessions</h1>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Options</option>
                    <option value="1">I'm not okay with sharing anything</option>
                    <option value="3">I'm okay with sharing very few things, but they have to ask first</option>
                    <option value="6">I'm okay with sharing some things, but they have to ask first</option>
                    <option value="9">I'm okay with sharing everything, but they have to ask first</option>
                    <option value="11">Yes. What's mine is theirs</option>
                </select>
            </div>
            <br>
            <div class="form-group" style="display: inline-table;">
                <h4>How much do you care that your roommate answers this question the same?</h1>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Options</option>
                    <option value="1">Not Important At All</option>
                    <option value="2">Mildly Important</option>
                    <option value="4">Very Important</option>
                    <option value="5">Of Upmost Importance</option>
                </select>
            </div>
        </div>
</body>
<br><br>

<body>
        <div style="display: grid;">
            <div class="form-group" style="display: inline-table;">
                <h4>Do you want to be close to your roommate?</h1>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Options</option>
                    <option value="1">Yes</option>
                    <option value="6">No Preference</option>
                    <option value="11">No</option>
                </select>
            </div>
            <br>
            <div class="form-group" style="display: inline-table;">
                <h4>How much do you care that your roommate answers this question the same?</h1>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Options</option>
                    <option value="1">Not Important At All</option>
                    <option value="2">Mildly Important</option>
                    <option value="4">Very Important</option>
                    <option value="5">Of Upmost Importance</option>
                </select>
            </div>
        </div>
</body>
<br><br>

<body>
        <div style="display: grid;">
            <div class="form-group" style="display: inline-table;">
                <h4>Do you plan on joining greek life?</h1>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Options</option>
                    <option value="1">Yes</option>
                    <option value="6">Not Sure</option>
                    <option value="11">No</option>
                </select>
            </div>
            <br>
            <div class="form-group" style="display: inline-table;">
                <h4>How much do you care that your roommate answers this question the same?</h1>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Options</option>
                    <option value="1">Not Important At All</option>
                    <option value="2">Mildly Important</option>
                    <option value="4">Very Important</option>
                    <option value="5">Of Upmost Importance</option>
                </select>
            </div>
        </div>
</body>
<br><br>

<body>
        <div style="display: grid;">
            <div class="form-group" style="display: inline-table;">
                <h4>How important is it that your room is clean?</h1>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Options</option>
                </select>
            </div>
            <br>
            <div class="form-group" style="display: inline-table;">
                <h4>How much do you care that your roommate answers this question the same?</h1>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Options</option>
                    <option value="1">Not Important At All</option>
                    <option value="2">Mildly Important</option>
                    <option value="4">Very Important</option>
                    <option value="5">Of Upmost Importance</option>
                </select>
            </div>
        </div>
</body>
<br><br>

<body>
        <div style="display: grid;">
            <div class="form-group" style="display: inline-table;">
                <h4>How often do you plan on going home?</h1>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Options</option>
                    <option value="1">Every day</option>
                    <option value="3">Multiple times each week</option>
                    <option value="6">Once a week or every other week</option>
                    <option value="9">Rarely or every few months</option>
                    <option value="11">Only for breaks/never</option>
                </select>
            </div>
            <br>
            <div class="form-group" style="display: inline-table;">
                <h4>How much do you care that your roommate answers this question the same?</h1>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Options</option>
                    <option value="1">Not Important At All</option>
                    <option value="2">Mildly Important</option>
                    <option value="4">Very Important</option>
                    <option value="5">Of Upmost Importance</option>
                </select>
            </div>
        </div>
</body>
<br><br>

<body>
        <div style="display: grid;">
            <div class="form-group" style="display: inline-table;">
                <h4>How often do you plan on going home?</h1>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Options</option>
                    <option value="1">Every day</option>
                    <option value="3">Multiple times each week</option>
                    <option value="6">Once a week or every other week</option>
                    <option value="9">Rarely or every few months</option>
                    <option value="11">Only for breaks/never</option>
                </select>
            </div>
            <br>
            <div class="form-group" style="display: inline-table;">
                <h4>How much do you care that your roommate answers this question the same?</h1>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Options</option>
                    <option value="1">Not Important At All</option>
                    <option value="2">Mildly Important</option>
                    <option value="4">Very Important</option>
                    <option value="5">Of Upmost Importance</option>
                </select>
            </div>
        </div>
</body>
<br><br>
<body>
        <div style="display: grid;">
            <div class="form-group" style="display: inline-table;">
                <h4>What temperature do you want the room to be?</h1>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Options</option>
                    <option value="1">80+</option>
                    <option value="3">75-80</option>
                    <option value="6">70-75</option>
                    <option value="9">65-70</option>
                    <option value="11">65-</option>
                </select>
            </div>
            <br>
            <div class="form-group" style="display: inline-table;">
                <h4>How much do you care that your roommate answers this question the same?</h1>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Options</option>
                    <option value="1">Not Important At All</option>
                    <option value="2">Mildly Important</option>
                    <option value="4">Very Important</option>
                    <option value="5">Of Upmost Importance</option>
                </select>
            </div>
        </div>
</body>
<br><br>

<body>
        <div style="display: grid;">
            <div class="form-group" style="display: inline-table;">
                <h4>If we have a disagreement, what approach do you feel is best for working through it?</h1>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Options</option>
                    <option value="1">Talk to each other about it</option>
                    <option value="6">Talk to the RA about it</option>
                    <option value="11">Do not deal with it</option>
                </select>
            </div>
            <br>
            <div class="form-group" style="display: inline-table;">
                <h4>How much do you care that your roommate answers this question the same?</h1>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Options</option>
                    <option value="1">Not Important At All</option>
                    <option value="2">Mildly Important</option>
                    <option value="4">Very Important</option>
                    <option value="5">Of Upmost Importance</option>
                </select>
            </div>
        </div>
</body>
<br><br>

<body>
        <div style="display: grid;">
            <div class="form-group" style="display: inline-table;">
                <h4>Do you plan on going abroad?</h1>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Options</option>
                    <option value="1">Yes</option>
                    <option value="11">No</option>
                </select>
            </div>
            <br>
            <div class="form-group" style="display: inline-table;">
                <h4>How much do you care that your roommate answers this question the same?</h1>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Options</option>
                    <option value="1">Not Important At All</option>
                    <option value="2">Mildly Important</option>
                    <option value="4">Very Important</option>
                    <option value="5">Of Upmost Importance</option>
                </select>
            </div>
        </div>
</body>
<br><br>

<body>
        <div style="display: grid;">
            <div class="form-group" style="display: inline-table;">
                <h4>How often will you eat in the room?</h1>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Options</option>
                 
                </select>
            </div>
            <br>
            <div class="form-group" style="display: inline-table;">
                <h4>How much do you care that your roommate answers this question the same?</h1>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Options</option>
                    <option value="1">Not Important At All</option>
                    <option value="2">Mildly Important</option>
                    <option value="4">Very Important</option>
                    <option value="5">Of Upmost Importance</option>
                </select>
            </div>
        </div>
</body>
<br><br>

<body>
        <div style="display: grid;">
            <div class="form-group" style="display: inline-table;">
                <h4>How comfortable are you with alcohol in the room (Even if you don't drink)</h1>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Options</option>
                 
                </select>
            </div>
            <br>
            <div class="form-group" style="display: inline-table;">
                <h4>How much do you care that your roommate answers this question the same?</h1>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Options</option>
                    <option value="1">Not Important At All</option>
                    <option value="2">Mildly Important</option>
                    <option value="4">Very Important</option>
                    <option value="5">Of Upmost Importance</option>
                </select>
            </div>
        </div>
</body>
<br><br>

<body>
        <div style="display: grid;">
            <div class="form-group" style="display: inline-table;">
                <h4>How comfortable are you with other intoxicating substances in the room (even if you do not consume them)</h1>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Options</option>
                 
                </select>
            </div>
            <br>
            <div class="form-group" style="display: inline-table;">
                <h4>How much do you care that your roommate answers this question the same?</h1>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Options</option>
                    <option value="1">Not Important At All</option>
                    <option value="2">Mildly Important</option>
                    <option value="4">Very Important</option>
                    <option value="5">Of Upmost Importance</option>
                </select>
            </div>
        </div>
</body>
<br><br>

<body>
        <div style="display: grid;">
            <div class="form-group" style="display: inline-table;">
                <h4>How active are you?</h1>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Options</option>
                 
                </select>
            </div>
            <br>
            <div class="form-group" style="display: inline-table;">
                <h4>How much do you care that your roommate answers this question the same?</h1>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Options</option>
                    <option value="1">Not Important At All</option>
                    <option value="2">Mildly Important</option>
                    <option value="4">Very Important</option>
                    <option value="5">Of Upmost Importance</option>
                </select>
            </div>
        </div>
</body>
<br><br>

<body>
        <div style="display: grid;">
            <div class="form-group" style="display: inline-table;">
                <h4>Do you prefer noise level to be low or high during the day?</h1>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Options</option>
                    <option selected>Options</option>
                    <option value="1">I do not care about the noise level during the day</option>
                    <option value="3">I am okay with noise most of the time</option>
                    <option value="6">I would like the noise levels to be moderate</option>
                    <option value="9">I would prefer low noise</option>
                    <option value="11">I want the room to be noiseless at all times</option>
                </select>
            </div>
            <br>
            <div class="form-group" style="display: inline-table;">
                <h4>How much do you care that your roommate answers this question the same?</h1>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Options</option>
                    <option value="1">Not Important At All</option>
                    <option value="2">Mildly Important</option>
                    <option value="4">Very Important</option>
                    <option value="5">Of Upmost Importance</option>
                </select>
            </div>
        </div>

</body>
<br><br>
<button type="submit" class="btn btn-dark">Submit</button>
</form>

</html>