body {
    margin: 0 auto;
    background-color: #fff;
    text-align: justify center;
}

/* 
Don't know why this was here because before I added the usercard it was unused
h2 {
    font-family: Tahoma;
    margin-top: 16%;
    padding-left: 4%
}*/

.div1 {
    width: 80%;
    max-width: 1400px;
    margin: 0 auto;
}

.matchBox {
    background-color: #dbdbe2;
    width: 100%;
    height: 65vh;
    max-height: 700px;
    min-height: 500px;
    border-radius: 30px;
    margin-bottom: 13%;
    padding: 20px;
}

@media screen and (max-width:400px) {
    .matchBox{
        min-width: 325px;
    }
}

.div2 {
    background-color: #dbdbe2;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    margin: 0px;
}

.div2::-webkit-scrollbar {
    width: 11px;
}

.div2::-webkit-scrollbar-track {
    background: #878787;
    border-left: 5px solid #c9cbfa;
    border-right: 5px solid #c9cbfa;   
}

.div2::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #878787;
    border-radius: 10px;
}

.contentBox {
    margin: 20px;
    display: flex;
}