.importanceSlider{
    display: flex; 
    justify-content: center;
}

.form-range{
    width: 80%;
}

.question{
    width: 95%;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: center;
    color: white;
}

.question-title{
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
}

#userinfo-submit-button{
    width: 80%;
}

.center-submit-button{
    text-align: center;
    justify-content: center;
    padding: 3rem;
}

.importance-slider-labels{
    text-align: center;
}