
.subcard{
    margin: 0 auto;
    height: 50vh !important;
    width: 20vw;
    display: inline-block;
    /* left: 45%; 
    Inline comment to make center*/
}

.roundedCorners{
    border-radius: 10px !important;
}

.imgRoundedTopCorners{
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
    /* border-bottom: 0px !important; */
}

.imgNonRoundedTopRightCorner{
    /* border-bottom: 0px !important; */
    border-top-left-radius: 10px !important;
    border-top-right-radius: 0px !important;

}

.hidden-card{
    width: 30vw;
    height: 50vh;
    overflow-y: auto;
}

#name{
    text-align: center;
}

#compatibility-percentage{
    text-align: center;
}



.userImg{
    height: 35vh;
}

.usercard-button{
    width: 20vw;
    height: 50vh;
    border: none;
    padding: 0;
    /* background-color: white; */
    /* border-radius: 10px !important; */
}

.nonRoundedRightCorners{
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}

.nonRoundedLeftCorners{
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

.progress-div{
    padding: .5rem;
}

#contact-links{
  width: auto;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}



.contact-link{
    width: 8vw !important;
    border: none !important;
}

#Instagram{
    background-image: linear-gradient(to top right, #feda75, #fa7e1e, #d62976, 	#962fbf, #4f5bd5);
    
}

#Snapchat{
    background-color: 	#fffb00b2;
    
}

.contact-imgs{
    height: 8vh;
}



