.subcard-mobile{
    margin: 0 auto;
    height: 50vh !important;
    width: 60vw;
}

.btn-group-vertical{
    justify-content: center;
}

#contact-links-mobile{
    position: relative;
   display: inline-flex;
   vertical-align: middle;
}