@media screen and (max-width:600px){
    .subcard-mobile{
        margin: 0 auto;
        height: 50vh !important;
        width: 65vw;
        
    }
    .userImg{
        min-height: none;
    }
}

.card-title-mobile{
    text-align: center;
}

#contact-links{
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
  }
  
  
  
  .contact-link{
      width: 8vw !important;
      border: none !important;
  }
  
  #Instagram{
      background-image: linear-gradient(to top right, #feda75, #fa7e1e, #d62976, 	#962fbf, #4f5bd5);
      
  }
  
  #Snapchat{
      background-color: 	#fffb00b2;
      
  }
  
  .contact-imgs{
      height: 10vh;
  }

.middle{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.subcard-mobile{
    margin: 0 auto;     
    height: 53vh !important;
    width: 20vw;
    min-height: 400px;
    min-width: 250px;
} 

.userImg{
    height: 35vh;
    min-height: 250px;
}



#contact-links-mobile{
    position: relative;
   display: inline-flex;
   vertical-align: middle;
}

