*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
}

#textDiv {
    margin: 50px 0 150px 0;
}

h1, h4{
    font-family: sans-serif;
    text-align: center;
    color: #fff;
}

h4 {
    color: #808080;
}

.profile-pic-div{
    height: 200px;
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid grey;
    margin: 2rem 0;
    
}

#photo{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#file{
    display: none;
    position: absolute;
    bottom: 0;
    left: 30%
}

.uploadBtn{
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
}

#submitButton {
    width: -moz-fit-content;
    width: fit-content;
    background-color: #fff;
    padding: 1em;
    margin: 50px 0 0 0;
    border-radius: 50px;
    font-weight:bold
}

#submitButton:hover {
    box-shadow: 0 0 15px #fff;
}

#submitButton:active {
    box-shadow: none;
}

@media only screen and (max-width: 506px){
    /*This is the screen width that the text wraps. not an arbitrary number*/
    #textDiv {
        margin: 30px 0 200px 0;
    }
}

@media only screen and (max-width: 359px){
    /*This is the screen width that the text wraps again. not an arbitrary number*/
    #textDiv {
        margin: 50px 0 180px 0;
    }

    h1, h4 {
        font-size: large;
    }
}

@media only screen and (max-width: 300px){
    /*This is the screen width that the text wraps again. not an arbitrary number*/
    #textDiv {
        margin: 50px 0 180px 0;
    }

    h4 {
        font-size: medium;
    }
}