body {
    background: linear-gradient(116.82deg, #1141EC 0%, #006EFF 43.82%, #009FFF 100%);
    height: 100vh;
}

h1{
    color: white;
}



#bar .bar_item{
    float: left;
    padding-top: .5em;
}

.menu_item{
    display:inline
}

#logo{
    padding-right: 10em;
    padding-left: 1em;
    width: 100px;
    font-weight: bold;
}

#bar_image{
    display: flex;
    justify-content: center;
}