body {
    background: linear-gradient(116.82deg, #1141EC 0%, #006EFF 43.82%, #009FFF 100%);
    height: 100vh;
}

h1{
    color: white;
}


.navbar {
    position: relative;
}

.brand {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;
    margin-right: -50px !important;
    display: block;
    position: sticky;
}
.navhome{
    background-color: rgba(0,0,0,0.0) !important;
}

.homebut{
    color: white !important;
    font-weight: bold;
}
.roomtitle{
    color: white;
    font-weight: bold;
    text-align-last: center;
    font-size: 25px;
}

#bar .bar_item{
    float: left;
    padding-top: .5em;

}

.menu_item{
    display:inline
}

#logo{
    padding-right: 10em;
    padding-left: 1em;
    width: 100px;
    font-weight: bold;
}

#bar_image{
    display: flex;
    justify-content: center;
}

.card{
    width: 50rem;
    height: 10rem;
    position: relative;
    top: 12rem;
    border: none !important; 
    border-radius: 1em;
}

.card-body{
    margin-left: 0px !important;
    margin-right: 100px !important;
}

.card-title{
    color: white;
    font-weight: bold;
    text-align-last: left;
    font-size: 30px;
}


