body {
    background: linear-gradient(116.82deg, #1141EC 0%, #006EFF 43.82%, #009FFF 100%);
    height: 100vh;
}

h1{
    color: white;
}


.card{
    width: 100%;
    padding-left: 5%;
    position: relative;
    top: 15%;
    border: none !important; 
    border-radius: 1em;
}


.card-title{
    color: white;
    font-weight: bold;
    text-align-last: left;
    font-size: 40px;
}

.dropdown-menu-center {
  left: 0% !important;
  right: 50% !important;
  text-align: center !important;
  transform: translate(-55%, 0) !important;
}


